* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	
	font-weight: normal;
	text-align: left;
    font-family: sans-serif;
	color: rgba(150, 150, 150, 1);
	
	scrollbar-color: rgba(255, 255, 255, 0.25) rgba(0, 0, 0, 0);
	scrollbar-width: thin;
}
*:focus 
{
	outline: none;
}


h1 
{
    font-family: sans-serif;
	font-weight: normal;
	text-align: left;

	font-size: 28px;
}

h2
{
    font-family: sans-serif;
	font-weight: normal;
	text-align: left;

	font-size: 20px;
}

body 
{
	background-color: rgba(40, 40, 40, 1);
}

button
{
	background-color: rgba(0, 0, 0, 0);
	border-width: 0px;  
	position: relative;
	cursor: pointer;
}

p
{
	font-weight: normal;
	text-align: left;
}

select 
{
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding-left: 4px;
  
  height: 20px;
  width: 100%;
}
input 
{
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 0px;
  cursor: pointer;
  padding-left: 4px;
  
  height: 24px;
}
textarea 
{
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 0px;
  cursor: pointer;
  padding-left: 4px;
  padding-top: 4px;
  
  height: 24px;
  resize: none;
}

.dragBarText 
{
	color: rgba(240, 240, 240, 1);
}

.DragBar
{
	background-color: rgba(20, 20, 20, 1);
	-webkit-app-region: drag;
}

.DragBar-fake
{
	background-color: rgba(20, 20, 20, 1);
}

.WinDrag
{
	-webkit-app-region: drag;
}

.WinNotDrag
{
	-webkit-app-region: no-drag;
}

.DragBarButton:hover
{
	background-color: rgba(50, 50, 50, 1);
}
.DragBarButton
{
	background-color: rgba(50, 50, 50, 0);
	
	
	padding-right: 10px;
	padding-left: 10px;
	margin-right: -2px;
	
	display: block;
	float: right;
	
	transition: background-color 0.25s;
	-webkit-app-region: no-drag;
}

.DragBarButtonCls:hover
{
	background-color: rgba(255, 50, 50, 1);
}
.DragBarButtonCls
{
	background-color: rgba(255, 50, 50, 0);
	
	
	padding-right: 10px;
	padding-left: 10px;
	margin-right: -2px;
	
	display: block;
	float: right;
	
	transition: background-color 0.25s;
	-webkit-app-region: no-drag;
}

.TopBarDivider
{
	background-color: rgba(20, 20, 20, 1);
}

.OverlayBackground
{
	background-color: rgba(0, 0, 0, 0.40);
	backdrop-filter: blur(4px);
	
	height: 100%;
	width: 100%;
}

.overlayWindow
{
	border-style: solid;
	border-color: rgba(60, 60, 60, 1);
	border-radius: 6px;
	border-width: 1px;

	background-color: rgba(40, 40, 40, 1);
	overflow: hidden;
}

.EventsButton:hover
{
	background-color: rgba(32, 32, 32, 1);
}
.EventsButton
{
	border-style: solid;
	border-color: rgba(10, 10, 10, 1);
	border-radius: 6px;
	border-width: 1px;

	background-color: rgba(20, 20, 20, 1);
	overflow: hidden;
	
	width: calc((100%) - (8px));
	height: 26px;
	
	margin-bottom: 4px;
	margin-left: 4px;
	
	transition: background-color 0.25s;
}

.EventsButton_Add:hover
{
	background-color: rgba(70, 70, 70, 1);
}
.EventsButton_Add
{
	border-style: solid;
	border-color: rgba(20, 20, 20, 1);
	border-radius: 6px;
	border-width: 1px;

	background-color: rgba(60, 60, 60, 1);
	overflow: hidden;
	
	width: calc((100%) - (8px));
	height: 26px;
	
	margin-bottom: 4px;
	margin-left: 4px;
	
	transition: background-color 0.25s;
}


.EditButton:hover
{
	background-color: rgba(255, 255, 255, 0.2);
}
.EditButton
{
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 6px;
	
	padding-right: 4px;
	padding-left: 4px;
	
	padding-top: 2px;
	padding-bottom: 2px;
	
	transition: background-color 0.25s;
}

.ButtonBasic:hover
{
	background-color: rgba(32, 32, 32, 1);
}
.ButtonBasic
{
	border-style: solid;
	border-color: rgba(10, 10, 10, 1);
	border-radius: 6px;
	border-width: 1px;

	background-color: rgba(20, 20, 20, 1);
	overflow: hidden;
	
	transition: background-color 0.25s;
}

.ButtonBasic_Bad:hover
{
	background-color: rgba(128, 32, 32, 1);
}
.ButtonBasic_Bad
{
	border-style: solid;
	border-color: rgba(10, 10, 10, 1);
	border-radius: 6px;
	border-width: 1px;

	background-color: rgba(20, 20, 20, 1);
	overflow: hidden;
	
	transition: background-color 0.25s;
}

.DivBasics:hover
{
	background-color: rgba(38, 38, 38, 1);
}
.DivBasics
{
	border-style: solid;
	border-color: rgba(10, 10, 10, 1);
	border-radius: 6px;
	border-width: 1px;
	margin-top: 4px;

	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;

	position: relative;

	background-color: rgba(32, 32, 32, 1);
	overflow: hidden;
	
	transition: background-color 0.25s;
}


.ColorCodeBasic_root
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 6px;
	height: 100%;
}

.ColorCodeBasic_notice
{
	background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, #00c8ff 4px);
	background-color: #0000ff;
}

.ColorCodeBasic_0
{
	background-color: rgb(0, 200, 0);
}

.ColorCodeBasic_1
{
	background-color: rgb(255, 255, 100);
}

.ColorCodeBasic_2
{
	background-color: rgb(200, 200, 200);
}

.ColorCodeBasic_3
{
	background-color: rgb(200, 80, 200);
}

.ColorCodeBasic_4
{
	background-color: rgb(255, 40, 40);
}

.ColorCodeBasic_5
{
	background-color: rgb(80, 200, 200);
}